[Unit]
Description=Poll BirdNET recordings for koalas overnight

[Timer]
OnBootSec=2min
OnUnitActiveSec=5sec
Persistent=true
Unit=avian-koala.service

[Install]
WantedBy=timers.target
