[Unit]
Description=Poll BirdNET recordings for koalas continuously

[Timer]
OnBootSec=2min
OnUnitActiveSec=2sec
Persistent=true
Unit=avian-koala.service

[Install]
WantedBy=timers.target
